/** @format */

.product-info-page {
	display: grid;
	grid-template-areas: "imgContainer articleContainer";
	margin: 10px auto;
	gap: 1rem;
	align-items: center;
	position: relative;
}
.product-info-page .product-info-img-container {
	grid-area: imgContainer;
	margin: auto;
	height: 400px;
	object-fit: cover;
	object-position: 50% 50%;
	position: relative;
	float: right;
	right: -100px;
}
.product-info-img-container img {
	width: 100%;
	height: 100%;
}
.product-info-page article {
	position: relative;
	float: right;
	left: -40px;
	margin-left: -10px;
	grid-area: articleContainer;
	max-width: 400px;
	text-align: left;
	padding: 20px 20px 20px 40px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.product-info-brand {
	color: #333333;
	font-size: 24px;
}
.product-info-title {
	color: #444444;
	font-size: 20px;
	font-weight: 500;
}
.product-info-rating {
	background-color: snow;
	width: fit-content;
	padding: 5px;
	border-radius: 10px;
	color: #333333;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}

.product-info-price h1::before {
	content: "\20b9";
}
.product-info-price {
	font-size: 20px;
	color: #333333;
	position: relative;
}
.product-info-price span {
	font-size: 20px;
	color: #888888;
	text-decoration: line-through;
	text-decoration-line: grammar-error;
	text-decoration-thickness: 1px;
}
.product-info-price span::before {
	content: "MRP \20b9";
	font-size: 20px;
	font-weight: 500;
	color: #888888;
}
.product-info-price h3 {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 24px;
	font-weight: 500;
	color: var(--primary-color);
}
.product-info-size b {
	font-size: 18px;
	color: #222222;
	font-weight: 600;
}
.product-info-size ul button {
	padding: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: 0.05s;
	margin: 3px 3px 3px 0;
	border-radius: 50px;
}
.product-info-size-button {
	background-color: #fff;
	border: 1px solid #bfc0c6;
	color: #282c3f;
}
.selected-product-info-size-button {
	background-color: var(--primary-color);
	font-weight: 600;
	border: none;
	color: #fff;
}
.product-info-size-button:hover {
	border: 2px solid var(--primary-color-dark);
	color: var(--primary-color-dark);
	font-weight: 600;
}
.add-to-cart-wishlist-buttons button:nth-of-type(1) {
	font-size: 16px;
	color: white;
	background-color: var(--primary-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: 0.2s;
	text-transform: uppercase;
	margin-right: 10px;
}
.add-to-cart-wishlist-buttons button:nth-of-type(1):hover {
	background-color: var(--primary-color-dark);
}
.add-to-cart-wishlist-buttons button:nth-of-type(2) {
	font-size: 16px;
	background-color: white;
	color: #333333;
	border: 1px solid #999999;
	padding: 10px 20px;
	border-radius: 5px;
	transition: 0.2s;
	text-transform: uppercase;
}
.add-to-cart-wishlist-buttons button:nth-of-type(2):hover {
	border: 1px solid #111111;
}
.product-info-category {
	margin-top: 10px;
	margin-bottom: -5px;
}
.product-info-inStock {
	margin-bottom: 15px;
}
.product-info-category,
.product-info-inStock {
	font-size: 16px;
	color: #222222;
	font-weight: 600;
}
.product-info-category b,
.product-info-inStock b {
	color: #555555;
	font-weight: 500;
}
