/** @format */

* {
	box-sizing: border-box;
}
/* .wishlist-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem;
} */
.products-list .wishlist-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem;
}
.empty-wishlist {
	display: flex;
	position: relative;
	margin: 70px auto;
}
.empty-wishlist div:nth-of-type(2) {
	width: 500px;
	margin: auto;
}
.empty-wishlist div img {
	width: 100%;
}
.empty-wishlist div:nth-of-type(1) {
	display: flex;
	align-items: center;
	position: relative;
	margin: auto;
	line-height: 2rem;
}
.empty-wishlist div h1 {
	font-size: 30px;
	color: #333333;
}

.empty-wishlist h1 span a {
	color: var(--primary-color);
}
.your-wishlist-h1 {
	margin-top: 20px;
	color: #333333;
	font-size: 32px;
}
.wishlist-products-list {
	align-items: center;
	border: 1px solid var(--primary-color);
	margin: 10px 20px;
	padding: 10px 40px;
	border-radius: 20px;
}
.products-list {
	position: relative;
}
.clear-wishlist-btn {
	background-color: white;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 20px;
	position: relative;
	right: 13.5rem;
	margin-bottom: 20px;
	color: red;
	border: 1px solid red;
	position: absolute;
	right: 0;
	top: 0;
}
.clear-wishlist-btn:hover {
	color: white;
	background-color: red;
}
