/** @format */

* {
	box-sizing: border-box;
}
/* .wishlist-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem;
} */
.products-list .wishlist-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem;
}
