/** @format */
* {
	box-sizing: border-box;
}
.products-listing-page aside {
	grid-area: aside;
	width: 260px;
}
.products-listing-page nav {
	grid-area: nav;
}
.products-listing-page section {
	display: flex;
}
.products-listing-page .products-list ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem;
}
.products-listing-page main {
	background-color: white;
	display: flex;
}
#no-data-found {
	position: absolute;
	top: 100px;
	margin: auto;
	left: 100px;
	right: 0;
	font-size: 24px;
	color: red;
}
